@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

.container {
  max-width: 1220px;
  margin: auto;
}

header {
  padding: 56px 0 80px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
header .wrap-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
header .wrap-header li {
  display: inline-block;
  margin-left: 40px;
}
header .wrap-header li a {
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
  opacity: 0.5;
}
header .wrap-header li .active {
  font-weight: 700;
  opacity: 1;
}

.hero {
  padding: 177px 0 190px 0;
}
.hero .wrap-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .wrap-hero .virtual-health {
  max-width: 445px;
}
.hero .wrap-hero .virtual-health h1 {
  font-size: 48px;
  line-height: 56px;
}
.hero .wrap-hero .virtual-health p {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
  margin: 35px 0;
}
.hero .wrap-hero .virtual-health .button {
  background-color: #458ff6;
  color: #fff;
}

.button {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458ff6;
  display: flex;
  justify-content: center;
  width: 200px;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
}

.section-title {
  font-size: 36px;
  line-height: 56px;
}

.text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
}

.services {
  padding: 2px 0 221px 0;
}
.services__section-title {
  text-align: center;
}
.services .container {
  position: relative;
}
.services__section-title::after {
  content: "";
  width: 56px;
  height: 2px;
  background-color: #000;
  display: block;
  border-radius: 5px;
  margin: 26px auto 33px auto;
}
.services__description {
  max-width: 952px;
  margin: auto;
  margin-bottom: 80px;
  text-align: center;
}
.services__cards-wrapper {
  max-width: 1120px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services__cards-wrapper .services__card {
  padding: 46px 45px 46px 38px;
  width: 350px;
  margin-bottom: 37px;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.services__cards-wrapper .services__card .services__card-image {
  min-height: 95px;
}
.services__cards-wrapper .services__card-title {
  font-size: 24px;
  line-height: 56px;
  margin-top: 23px;
}
.services__cards-wrapper .services__card-text {
  font-weight: 300;
  line-height: 28px;
  color: #7d7987;
}
.services__button {
  max-width: 1220px;
  margin: auto;
  margin-top: 35px;
}
.services__background {
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  left: -190px;
}
.services__drops {
  position: absolute;
  right: 0;
  top: 544px;
  opacity: 0.3;
  z-index: -1;
}

.leading-healthcare-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.leading-healthcare-wrap .leading-healthcare__content {
  padding-left: 82px;
}
.leading-healthcare-wrap .leading-healthcare__content .leading-healthcare__section-title::after {
  content: "";
  width: 56px;
  height: 2px;
  background-color: #000;
  border-radius: 10px;
  display: block;
  margin: 26px 0 31px 0;
}
.leading-healthcare-wrap .leading-healthcare__content .leading-healthcare__text {
  max-width: 400px;
  padding-bottom: 40px;
}

.mobile-apps {
  padding: 229px 0 266px 0;
}
.mobile-apps__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 90px;
}
.mobile-apps__wrapper .mobile-apps__content {
  max-width: 370px;
}
.mobile-apps__wrapper .mobile-apps__content .mobile-apps__section-title {
  max-width: 254px;
  line-height: 48px;
}
.mobile-apps__wrapper .mobile-apps__content .mobile-apps__section-title::after {
  content: "";
  width: 56px;
  height: 2px;
  background-color: #000;
  border-radius: 6px;
  display: block;
  margin: 30px 0 31px 0;
}
.mobile-apps__wrapper .mobile-apps__content .mobile-apps__button {
  margin-top: 40px;
}
.mobile-apps__wrapper .mobile-apps__content .mobile-apps__button::after {
  content: url(../images/arrow-bottom.svg);
  margin-left: 15px;
}

.customers {
  max-width: 1120px;
  margin: auto;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  padding: 64px 125px 79px 120px;
}
.customers .feedback__section-title {
  color: #fff;
  text-align: center;
}
.customers .feedback__section-title::after {
  content: "";
  width: 56px;
  height: 2px;
  background-color: #fff;
  border-radius: 6px;
  display: block;
  margin: 25px auto 66px auto;
}
.customers .feedback__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customers .feedback__wrapper .customer {
  display: flex;
  align-items: center;
}
.customers .feedback__wrapper .customer .name {
  padding-left: 29px;
}
.customers .feedback__wrapper .customer .name .feedback__subtitle {
  font-size: 22px;
  color: #ffffff;
}
.customers .feedback__wrapper .customer .name .feedback__subtitle-text {
  font-size: 18px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.85);
}
.customers .feedback__wrapper .feedback__text {
  max-width: 411px;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}/*# sourceMappingURL=style.css.map */