@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap");
.check-out__section-title::after, .feedback__section-title::after, .mobile-apps__section-title::after, .leading-healthcare__section-title::after, .services__section-title::after {
  content: "";
  width: 56px;
  height: 2px;
  border-radius: 5px;
  display: block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1220px;
  margin: auto;
}

.button {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #458ff6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 54px;
  border-radius: 55px;
  border: 1px solid #458ff6;
}

.section-title {
  font-size: 36px;
  line-height: 56px;
  color: #000;
}

.text {
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  font-weight: 300;
}

.header {
  padding: 56px 0 80px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__wrap li {
  display: inline-block;
  margin-left: 40px;
}
.header__wrap li a {
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  color: #000;
  opacity: 0.5;
}
.header__wrap li .active {
  font-weight: 700;
  opacity: 1;
}

.hero {
  padding: 177px 0 190px 0;
}
.hero__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__wrap .hero__virtual-health {
  max-width: 445px;
  padding-bottom: 48px;
}
.hero__wrap .hero__virtual-health h1 {
  font-size: 48px;
  line-height: 56px;
  color: #000;
}
.hero__text {
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
  font-weight: 300;
  margin: 35px 0;
}
.hero .button {
  background-color: #458ff6;
  color: #fff;
}

.services {
  padding: 2px 0 221px 0;
}
.services__section-title {
  text-align: center;
}
.services .container {
  position: relative;
}
.services__section-title::after {
  background-color: #000;
  margin: 26px auto 33px;
}
.services__description {
  max-width: 952px;
  margin: 0 auto 80px;
  text-align: center;
}
.services__cards-wrapper {
  max-width: 1120px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.services__card {
  padding: 46px 45px 46px 38px;
  width: 350px;
  margin-bottom: 37px;
  background: #fff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.services__card-image {
  min-height: 95px;
}
.services__card-title {
  font-size: 24px;
  line-height: 56px;
  color: #000;
  margin-top: 23px;
}
.services__card-text {
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  font-weight: 300;
}
.services__button {
  margin: 35px auto 0;
}
.services__background {
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  left: -190px;
}
.services__drops {
  position: absolute;
  right: 0;
  top: 544px;
  opacity: 0.3;
  z-index: -1;
}

.leading-healthcare__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.leading-healthcare__content {
  padding-left: 82px;
}
.leading-healthcare__section-title {
  max-width: 335px;
}
.leading-healthcare__section-title::after {
  background-color: #000;
  margin: 26px 0 31px;
}
.leading-healthcare__text {
  max-width: 400px;
  padding-bottom: 40px;
}

.mobile-apps {
  padding: 229px 0 251px 0;
}
.mobile-apps__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 90px;
}
.mobile-apps__content {
  max-width: 370px;
}
.mobile-apps__section-title {
  max-width: 254px;
  line-height: 48px;
}
.mobile-apps__section-title::after {
  background-color: #000;
  margin: 30px 0 31px 0;
}
.mobile-apps__button {
  margin-top: 40px;
}
.mobile-apps__button::after {
  content: url(../images/arrow-bottom.svg);
  margin-left: 15px;
}

.feedback__content {
  padding: 15px 50px 0;
  position: relative;
}
.feedback__img-left {
  position: absolute;
  left: 0;
  bottom: 39px;
  z-index: -1;
}
.feedback__img-right {
  position: absolute;
  top: 0;
  right: 0;
}
.feedback__customers {
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  padding: 64px 125px 79px 120px;
}
.feedback__section-title {
  color: #fff;
  text-align: center;
}
.feedback__section-title::after {
  background-color: #fff;
  margin: 25px auto 66px;
}
.feedback__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback__customer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback__name {
  padding-left: 29px;
}
.feedback__subtitle {
  font-size: 22px;
  color: #fff;
}
.feedback__subtitle-text {
  font-size: 18px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.85);
}
.feedback__text {
  max-width: 411px;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}

.check-out {
  padding: 278px 0 201px 0;
}
.check-out .container {
  position: relative;
}
.check-out__drops-image {
  position: absolute;
  top: 127px;
  left: 0;
  z-index: -1;
}
.check-out__background-element {
  position: absolute;
  top: 0;
  right: -188px;
  z-index: -1;
}
.check-out__section-title {
  text-align: center;
}
.check-out__section-title::after {
  background-color: #000;
  margin: 32px auto 79px;
}
.check-out__card-wrapper {
  padding: 0 50px 69px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.check-out__card {
  max-width: 350px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  background-color: #fff;
}
.check-out__card-content {
  padding: 24px 51px 35px 33px;
}
.check-out__card-title {
  font-size: 21px;
  line-height: 32px;
  color: #000;
}
.check-out__card-text {
  padding: 12px 0 25px;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  font-weight: 300;
}
.check-out__read-more {
  font-size: 17px;
  line-height: 28px;
  color: #4089ed;
  font-weight: 600;
  text-decoration: none;
}
.check-out__read-more::after {
  content: url(../images/arrow-right.svg);
  margin-left: 15px;
}
.check-out .button {
  margin: auto;
}

.footer {
  background: url(../images/drop-feedback-right-footer.svg) no-repeat -19px 336px, linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}
.footer__wrapper {
  padding: 109px 50px 109px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__trafalgar {
  max-width: 390px;
  margin-right: 160px;
}
.footer__description-text {
  padding: 17px 0 31px;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  max-width: 379px;
}
.footer__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
.footer__item-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.footer__section-title {
  font-size: 20px;
  line-height: 60px;
  color: #fff;
}
.footer__subtitle-text {
  font-size: 18px;
  line-height: 38px;
  color: #fff;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */