@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap");
@import "_variables.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
img {
  max-width: 100%;
  display: block;
}
.container {
  max-width: 1220px;
  margin: auto;
}
.button {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: $blue;
  @include flexbox(flex, center, center);
  width: 200px;
  height: 54px;
  border-radius: 55px;
  border: 1px solid $blue;
}
.section-title {
  @include text-style(36px, 56px, $headcolor);
}
.text {
  @include text-style(18px, 30px, $grey);
  font-weight: 300;
}

// Header

header {
  padding: 56px 0 80px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .wrap-header {
    @include flexbox(flex, space-between, flex-end);
    li {
      display: inline-block;
      margin-left: 40px;
      a {
        text-decoration: none;
        @include text-style(18px, 23px, $headcolor);
        opacity: 0.5;
      }
      .active {
        font-weight: 700;
        opacity: 1;
      }
    }
  }
}

// Hero

.hero {
  padding: 177px 0 190px 0;
  .wrap-hero {
    @include flexbox(flex, space-between, center);
    .virtual-health {
      max-width: 445px;
      padding-bottom: 48px;
      h1 {
        @include text-style(48px, 56px, $headcolor);
      }
      p {
        @include text-style(21px, 32px, $grey);
        font-weight: 300;
        margin: 35px 0;
      }
      .button {
        background-color: $blue;
        color: $secondary-color;
      }
    }
  }
}

// Section Services

.services {
  padding: 2px 0 221px 0;
  &__section-title {
    text-align: center;
  }
  .container {
    position: relative;
  }
  &__section-title::after {
    @extend %title-after;
    background-color: $headcolor;
    margin: 26px auto 33px;
  }
  &__description {
    max-width: 952px;
    margin: 0 auto 80px;
    text-align: center;
  }
  &__cards-wrapper {
    max-width: 1120px;
    margin: auto;
    @include flexbox(flex, space-between, stretch);
    flex-wrap: wrap;
  }
  &__card {
    padding: 46px 45px 46px 38px;
    width: 350px;
    margin-bottom: 37px;
    background: $secondary-color;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
  }
  &__card-image {
    min-height: 95px;
  }
  &__card-title {
    @include text-style(24px, 56px, $headcolor);
    margin-top: 23px;
  }
  &__card-text {
    @include text-style(16px, 28px, $grey);
    font-weight: 300;
  }
  &__button {
    margin: 35px auto 0;
  }
  // Можно background image
  &__background {
    position: absolute;
    z-index: -1;
    opacity: 0.6;
    left: -190px;
  }
  &__drops {
    position: absolute;
    right: 0;
    top: 544px;
    opacity: 0.3;
    z-index: -1;
  }
}
.leading-healthcare {
  &__wrap {
    @include flexbox(flex, center, center);
  }
  &__content {
    padding-left: 82px;
  }
  &__section-title {
    max-width: 335px;
  }
  &__section-title::after {
    @extend %title-after;
    background-color: $headcolor;
    margin: 26px 0 31px;
  }
  &__text {
    max-width: 400px;
    padding-bottom: 40px;
  }
}

.mobile-apps {
  padding: 229px 0 251px 0;
  &__wrapper {
    @include flexbox(flex, space-between, center);
    padding-left: 90px;
  }
  &__content {
    max-width: 370px;
  }
  &__section-title {
    max-width: 254px;
    line-height: 48px;
  }
  &__section-title::after {
    @extend %title-after;
    background-color: $headcolor;
    margin: 30px 0 31px 0;
  }
  &__button {
    margin-top: 40px;
  }
  &__button::after {
    content: url(../images/arrow-bottom.svg);
    margin-left: 15px;
  }
}

.feedback {
  &__content {
    padding: 15px 50px 0;
    position: relative;
  }
  &__img-left {
    position: absolute;
    left: 0;
    bottom: 39px;
    z-index: -1;
  }
  &__img-right {
    position: absolute;
    top: 0;
    right: 0;
  }
  &__customers {
    background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
    border-radius: 24px;
    padding: 64px 125px 79px 120px;
  }
  &__section-title {
    color: $secondary-color;
    text-align: center;
  }
  &__section-title::after {
    @extend %title-after;
    background-color: $secondary-color;
    margin: 25px auto 66px;
  }
  &__wrapper {
    @include flexbox(flex, space-between, center);
  }
  &__customer {
    @include flexbox(flex, center, center);
  }
  &__name {
    padding-left: 29px;
  }
  &__subtitle {
    font-size: 22px;
    color: $secondary-color;
  }
  &__subtitle-text {
    @include text-style(18px, 48px, rgba(255, 255, 255, 0.85));
  }
  &__text {
    max-width: 411px;
    @include text-style(19px, 30px, rgba(255, 255, 255, 0.9));
  }
}

// Check-out

.check-out {
  padding: 278px 0 201px 0;
  .container {
    position: relative;
  }
  &__drops-image {
    position: absolute;
    top: 127px;
    left: 0;
    z-index: -1;
  }
  &__background-element {
    position: absolute;
    top: 0;
    right: -188px;
    z-index: -1;
  }
  &__section-title {
    text-align: center;
  }
  &__section-title::after {
    @extend %title-after;
    background-color: $headcolor;
    margin: 32px auto 79px;
  }
  &__card-wrapper {
    padding: 0 50px 69px;
    @include flexbox(flex, space-between, stretch);
  }
  &__card {
    max-width: 350px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    background-color: $secondary-color;
  }
  &__card-content {
    padding: 24px 51px 35px 33px;
  }
  &__card-title {
    @include text-style(21px, 32px, $headcolor);
  }
  &__card-text {
    padding: 12px 0 25px;
    @include text-style(16px, 28px, $grey);
    font-weight: 300;
  }
  &__read-more {
    @include text-style(17px, 28px, #4089ed);
    font-weight: 600;
    text-decoration: none;
  }
  &__read-more::after {
    content: url(../images/arrow-right.svg);
    margin-left: 15px;
  }
  .button {
    margin: auto;
  }
}

// Footer
.footer {
  background: url(../images/drops-footer.svg) no-repeat left 155px bottom,
    linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  &__wrapper {
    padding: 109px 50px 109px 0;
    @include flexbox(flex, space-between, center);
  }
  &__trafalgar {
    max-width: 390px;
    margin-right: 160px;
  }
  &__description-text {
    padding: 17px 0 31px;
    font-weight: 300;
    @include text-style(18px, 28px, $secondary-color);
    max-width: 379px;
  }
  &__text {
    font-weight: 300;
    @include text-style(16px, 28px, $secondary-color);
  }
  &__item-wrap {
    @include flexbox(flex, space-between, center);
    flex-grow: 1;
  }
  &__section-title {
    @include text-style(20px, 60px, $secondary-color);
  }
  &__subtitle-text {
    @include text-style(18px, 38px, $secondary-color);
    font-weight: 300;
  }
}
